@font-face {
    font-family: "CaviarDreams";
    font-weight: 900;
    src: url("../assets/fonts/CaviarDreams/CaviarDreams_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}