grid {
    .titulo-pagina{
        color: map-get($colors, branco);
    }

    .label-segmento{
        color: map-get($colors, branco);
    }

    .header-marvel{
        background-color: map-get($colors, dark-blue);
    }

    .footer-marvel{
        padding: 0;
        background-color: map-get($colors, cinza);
    }

    .btn-limpar{
        background-color: map-get($colors, verde);
    }

    .btn-salvar{
        background-color: map-get($colors, dark-blue);
    }

    @media(min-width: 768px){
    }
}